<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center">Playground</h1>
    <div style="display: flex; justify-content: center; flex-wrap: wrap;">
    {% for x in range(0, times): %}
        {% if colorful == True %}
            <div 
                style="height: 200px; 
                width: 200px; 
                border: 2px solid black; 
                background-color: {{color}};
                border-radius: 20px;
                margin: 10px 25px;">
            </div>
        {% endif %}
        {% if colorful == False %}
            <div 
                style="height: 200px; 
                width: 200px; 
                border: 2px solid black; 
                background-color: aqua;
                border-radius: 20px;
                margin: 10px 25px;">
            </div>
        {% endif %}
    {% endfor %}
    </div>
</body>
</html>